<div id="flipFlop" class="flip-container">
  <span class="flip-outer-text">
    {%- if section.settings.bottom_counter_text != blank -%}
      {{section.settings.bottom_counter_text -}}{%- endif -%}
  </span>
  <div class="flip-container-inner">

    <div class="flip-box" data-hours>

      <div class="flip-group">
        <div class="flip-wrapper">
          <div class="flip-card" data-hour-tens>
            <div class="top">0</div>
            <div class="bottom">0</div>
          </div>
          <div class="flip-card" data-hour-ones>
            <div class="top">0</div>
            <div class="bottom">0</div>
          </div>
        </div>
      </div>
      <div class="flip-group-title">{{ 'products.counter.hours' | t }}</div>
      {% comment %}
        <div class="dots">:</div>
      {% endcomment %}
    </div>

    <div class="flip-box" data-minutes>

      <div class="flip-group">
        <div class="flip-wrapper">
          <div class="flip-card" data-minute-tens>
            <div class="top">0</div>
            <div class="bottom">0</div>
          </div>
          <div class="flip-card" data-minute-ones>
            <div class="top">0</div>
            <div class="bottom">0</div>
          </div>
        </div>
      </div>
      <div class="flip-group-title">{{ 'products.counter.minutes' | t }}</div>
    </div>
    <div class="flip-box" data-seconds>

      <div class="flip-group">
        <div class="flip-wrapper">
          <div class="flip-card" data-second-tens>
            <div class="top">0</div>
            <div class="bottom">0</div>
          </div>
          <div class="flip-card" data-second-ones>
            <div class="top">0</div>
            <div class="bottom">0</div>
          </div>
        </div>
      </div>
      <div class="flip-group-title">{{ 'products.counter.seconds' | t }}</div>
    </div>
    <span class="close__btn"></span>
  </div>
</div>