<div class="trustpilot__widget home">
  <!-- TrustBox widget - Micro Review Count -->
  <div
    class="trustpilot-widget"
    data-locale="da-DK"
    data-template-id="5419b6a8b0d04a076446a9ad"
    data-businessunit-id="541889ee00006400057a5d7f"
    data-style-height="24px"
    data-style-width="100%"
    data-theme="light"
    data-style-alignment="center">
    <a
      href="https://dk.trustpilot.com/review/www.anodyne.dk"
      target="_blank"
      rel="noopener">Trustpilot</a>
  </div>
  <!-- End TrustBox widget -->
</div>